.title {
  color: white;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 7px;
}
.select select {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  background-color: #e3caa5;
  color: white;
}
.wrapper {
  color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 24px 66px;
  background-color: #ceab93;
  border-radius: 21px;
}
.resetPass {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  color: #fffbe9;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.loginForm {
  padding: 0px 40px;

  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.loginForm input {
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
  color: #fffbe9;
  background: #e3caa5;
  border-radius: 21px;
  border: none;
}
.loginBtn {
  font-size: 16px;
  color: #fffbe9;
  padding: 12px 0px;
  border-radius: 21px;
  background: #ad8b73;
  border-radius: 21px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.loginBtn:hover {
  background: #9c7e68;
}
.errMsg {
  text-align: center;
  color: rgb(94, 11, 11);
}
