.nav {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #fffbe9;
}
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
