.nav {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #fffbe9;
  transition: 0.5s;
}
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.navBur {
  box-sizing: border-box;
  background-color: #ceab93;
}
.active {
  color: #ddd8d8 !important;
}
