.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ceab93;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.title {
  padding: 30px 0px;
  margin: 0;
}
.total {
  min-height: 90vh;
  background-color: #dddddd;
}
